<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Splash Page<%= title %></p>
    <ul>
      Welcome To Cat VS Baby! Click To Begin
    </ul>
    <ul>
      (random selection of a cat photo and of baby photo, when clicked on will take to home page)
    </ul>
    <ul>
      login button
    </ul>
    <ul>
      register button 
    </ul>
  </body>
</html>
