<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      head
    </header>
    <h1>About Page also Game Play Info</h1>
    <p></p>
    <ul>
      About The Game and How to play
    </ul>
    <ul>
    </ul>
    <ul>

    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <footer>footer</footer>
  </body>
</html>
