<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      head
    </header>
    <h1>Home Page</h1>
    <p></p>
    <ul>
      Welcome To Cat VS Baby!
    </ul>
    <ul>
      Click The Cutest Photo To Play!
    </ul>
    <ul>
      (random selection of a cat photo and of baby photo, when clicked on will generate more photos as well as keep score of winning photos to tally on header and in stats page)
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <footer>footer</footer>
  </body>
</html>
