<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      head
    </header>
    <h1>Leaderboard</h1>
    <p></p>
    <ul>
      Scoring for Top Cat and Baby Rankings
    </ul>
    <ul>
      Top Photos of rankings
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <footer>footer</footer>
  </body>
</html>
