<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      header
    </header>
    <h1><%= title %></h1>
    <p>Home Page<%= title %></p>
    <ul>
      Welcome To Cat VS Baby!
    </ul>
    <ul>
      Click The Cutest Photo To Play!
    </ul>
    <ul>
      (random selection of a cat photo and of baby photo, when clicked on will generate more photos as well as keep score of winning photos to tally on header and in stats page)
    </ul>
    <ul>
      login button
    </ul>
    <ul>
      register button
    </ul>
    <footer>footer</footer>
  </body>
</html>
