<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Page</h1>
    <p>Profile Info Goes Here (name, bio, profile photo)</p>
    <ul>
      edit button
    </ul>
    <ul>
      animal or baby photo
    </ul>
    <ul>
      edit for animal or baby photo
    </ul>
  </body>
</html>
